*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
        background-color: #72BF78;

}

.container{
    padding: 40px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navigation{
    background-color: #72BF78;
    font-size: 40px;
    color: #FEFF9F;
    border: none;
    cursor: pointer;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7, 150px);
    gap: 3px;
}

.day{
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: #A0D683;
    border-radius: 4px;
    transition: all 250ms;
}

.day:hover{
    background-color: #D3EE98;

}

.day-number{
    font-size: 35px;
    font-weight: bold;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

}

/* форма контейнере  */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; 
    border: none;
    width: 20%; 
    gap: 15px;
    padding: 20px;
    position: relative;

  }

  .close-modal{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    align-self: flex-end;
  }

.fa-circle-xmark,
.fa-plus{
    pointer-events: none;
}

.input{
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #D3EE98;
    color: black;
}

.input::placeholder{
    color: black;
    font-size: 15px;
}

.input-description{
    height: 100px;
}

.submit{
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #72BF78;
    cursor: pointer;
}


.day-task-box{

}

